
.input-container {
  display: flex;
}

.message {
  text-align: left;
  display: block;
  padding: 8px 16px;
  background-color: rgb(255, 255, 255);
  margin: 10px 0;
  border-radius: 20px 20px 20px 0px;
  width: 40%;
  overflow-wrap: break-word;
  height: fit-content;
}

.my-msg {
  text-align: right !important;
  margin-left: auto !important;
  background-color: rgb(242, 248, 255);
  border-radius: 20px 20px 0px 20px;
}

input {
  padding: 10px;
  flex: 3;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px rgb(48, 109, 200) solid;
}

button {
  font-weight: bold;
  flex: 0.5;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(48, 109, 200);
  color: white;
  border: 1px rgb(48, 109, 200) solid;
}

input:focus {
  outline: none;
}